{
  "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
    },
    "extends": "airbnb",
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] } ],
      "import/prefer-default-export": "off",
      "no-bitwise": "off",
      "max-len": "off",
      "spaced-comment": "off",
      "no-param-reassign": ["error", { "props" : false } ],
      "no-constant-condition": ["warn", { "checkLoops" : false } ],
      "react/prop-types": "off",
      "react/prefer-stateless-function": "off",
    }
}
